<ul class="breadcrumb">
    <li><a href="#/">Articles</a></li>
    <li class="active">{{ post.name }}</a></li>
</ul>

<div ng-hide="loading">
    <app-tabs>
        <app-tab title="Article">
            <h1>{{ post.name }}</h1>
            <p>{{ post.content }}</p>
        </app-tab>
        <app-tab title="{{ comments.length }} commentaires">
            <h3>{{ comments.length }} commentaires</h3>
            <div ng-repeat="comment in comments | filter: {content: query} | orderBy: order">
                <app-comment comment="comment"></app-comment>
            </div>
        </app-tab>
    </app-tabs>

    <hr>

    <form ng-submit="addComment()">
        <h3>Ajouter un commentaire</h3>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Nom" ng-model="newComment.username" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ville" ng-model="newComment.city" /><br />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="E-mail" ng-model="newComment.email" /><br />
        </div>
        <div class="form-group">
            <textarea class="form-control" ng-model="newComment.content"></textarea><br />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </div>
    </form>

</div>
